{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else if $page.Params.author }}
  {{ $author = $page.Params.author }}
{{ else if $page.Params.authors }}
  {{ $author = index $page.Params.authors 0 }}
{{ else }}
  {{ $author = $page.File.TranslationBaseName }}
{{ end }}

{{ warnf "DEBUG (background.html) – $author: %s, page slug: %s" $author $page.File.TranslationBaseName }}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s` (while rendering page: %s, widget: %s). Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path $page.File.Path $page.Params.widget }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}

<!-- About widget -->

<div class="">
    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}
</div>
    <div class="row">

      {{/*
      {{ with $person.interests }}
      <div class="col-4">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests">
          {{ range . }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      */}}

      {{ with $person.education }}
      <div class="col-3">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">{{ .course }}</p>
              <p class="institution">{{ .institution }}</p>
              <p class="institution">{{ with .year }} {{ . }}{{ end }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.experience }}
      <div class="col">
        <h3>{{ i18n "experience" | markdownify }}</h3>
        {{ range . }}
          <div class="row mb-1">
              <div class="col mx-aout">
                {{ with .date_start }} {{ time.Format "Jan.2006" .}}{{ end }} - 
                {{if .date_end}}
                {{ with .date_end }} {{ time.Format "Jan.2006" .}}{{ end }}
                {{else}}
                {{ i18n "present" }}
                {{end}}
              </div>
              <div class="col-9 mx-auto">
                <div class="description">
                  {{ .title }}, {{ with .company_url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}{{ .company }}</a>
                </div>
              </div>
          </div>
        {{ end }}
      </div>
      {{ end }}

      {{/* Insert Academic Service block (h3) after Education and Experience (so that Education and Experience remain side by side) */}}
      {{ with $page.Params.sections }}
      <div class="col-12">
        <h3>Academic Service</h3>
        {{ range . }}
          {{ if .subtitle }}
            <h4>{{ .subtitle | markdownify | emojify }}</h4>
          {{ end }}
          {{ if .items }}
            <ul class="ul-reviews">
              {{ range .items }}
                <li>{{ . | markdownify | emojify }}</li>
              {{ end }}
            </ul>
          {{ else }}
            <p>No items available.</p>
          {{ end }}
        {{ end }}
      </div>
      {{ end }}

      {{/* Remove the old "Integrate Academic Service" block (col-12) */}}
      {{/* (Old block removed) */}}

    </div>