.navbar {
    height: 70px;
    background: $sta-menu-primary;
  /* this is the part that takes out the shadow & the only edit */
    box-shadow: none;  
    font-size: 18px;
    font-weight: 900 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem;
}

.home-section {
  background-color: $sta-home-section-odd;
  padding: 50px 0 30px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.article-title {
  font-size: 1.2rem;
  font-weight:bold;
}

.article-title a {
  color: #444444;
  transition: color 0.6s ease;
}

.article-subtitle {
  font-size: 0.9rem;
}

.project-image {
  border-radius: 5px;
  width: 80%;  
  margin: 0 auto; 
  object-fit: cover;
}