{{ $item := .item }}
{{ $widget := .widget }}

{{ $do_link := true }}
{{ if $item.Params.external_link | or $item.Content }}
  {{ $do_link = true }}
{{ else }}
  {{ $do_link = false }}
{{ end }}

{{ $link := .link }}
{{ $target := .target }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $order := "" }}
{{ if and ($widget.Params.design.flip_alt_rows | default true) (not (modBool .index 2)) }}
  {{ $order = "order-md-2" }}
{{ end }}

{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<!-- Start of project item -->
<div class="row project-item isotope-item align-items-center ml-0 mb-4">
    <!-- Container for image -->
    <div class="col feature-image">
      {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $resource }}
      <!-- Check if there's a link for the item and wrap image with it -->
      {{ if $do_link}}<a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{end}}
        <!-- Display the image with a style to make it square and adjust margin -->
        <img src="{{ .RelPermalink }}" alt="" style="border-radius: 5px;width: 100%; ">
      {{if $do_link}}</a>{{end}}
      {{end}}
    </div>
    <!-- Container for title -->
    <div class="col-9">
      <div class="article-title left-text mb-0 mt-0">
        <!-- Check if there's a link for the item and apply it to the title -->
        {{- if $do_link}}<a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{end -}}
        {{ $item.Title | markdownify | emojify }}
        {{- if $do_link}}</a>{{end -}}
      </div>
      <div class="left-text ml-0 mr-0 mb-2 mt-0">
        <!-- Check if there's a link for the item and apply it to the title -->
        {{ $item.Params.subtitle | markdownify | emojify }}
      </div>
      <div class="left-text ml-0 mr-0 mb-2 mt-0" style="font-size: smaller;">
        {{ range $item.Params.presented }}
        <!-- Check if there's a link for the item and apply it to the title -->
          {{ . | markdownify | emojify }}
        {{ end }}
      </div>
      
      <div class="btn-links mb-0">
        {{ partial "page_links" (dict "page" $item "is_list" 0) }}
      </div>
    </div>
</div>
<!-- End of project item -->
